* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background: url("/img/wow.jpg");
  background-size: cover;
  border-radius: 3px;
}

#navbar {
  color: red;
  overflow: auto;
  background: white;
}
#navbar a {
  color: black;
  text-decoration: none;
}
#navbar .logo {
  float: left;
  padding-top: 20px;
  margin-left: 40px;
  font-family: "Pacifico", cursive;
}
#navbar ul {
  float: right;
  list-style: none;
  margin-right: 40px;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  color: red;
}
.banner {
  text-align: center;
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
}

.floater {
  display: inline;
}
.floater h3 {
  color: rgb(185, 76, 127);
  margin-top: 200px;
  font-size: 1.9em;
}
.floater textarea {
  width: 50%;
  padding: 9px;
  border: #ddd 1px solid;
  border-radius: 4px;
}
.btn {
  font-size: 18px;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  background-color: red;
  height: 50px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 4px;
}
.btn:hover {
  /*
          Hover background color for button is #37a08e
        */
  background-color: rgb(149, 232, 238);
  color: black;
}

form {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

#navbar2 {
  justify-content: center;
  display: flex;
}

#navbar2 ul {
  float: right;
  list-style: none;
  margin-right: 40px;
}
#navbar2 ul li {
  float: left;
}

#navbar2 ul li a {
  display: block;
  padding: 50px;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  border-bottom: 1px solid;
}

#navbar2 ul li a:hover,
#navbar2 ul li a.current {
  border-bottom: 1px solid red;
  color: black;
}

#comments {
  height: 100%;
  padding-top: 50px;
  padding-right: 280px;
  padding-left: 270px;
}

#comments h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#comments .comment {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
  flex: wrap;
}

#comments .comment img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  margin-left: 0px;
}

.icons {
  padding-left: 230px;
}

.icons i {
  margin: 20px;
}

#navbar3 {
  justify-content: center;
  display: flex;
}

#navbar3 ul {
  float: right;
  list-style: none;
  margin-right: 40px;
}
#navbar3 ul li {
  float: left;
}

#navbar3 ul li a {
  display: block;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  border: 1px solid white;
  letter-spacing: 2em;
  height: 2px;
  width: 2px;
  background-color: rgb(194, 192, 192);
  border-radius: 3px;
}

#navbar3 ul li a:hover,
#navbar3 ul li a.current {
  background: red;
  color: white;
}

.box {
  float: left;
  width: 411px;
  padding: 10px;
  text-align: center;
  height: 100px;
  margin-top: 20px;
}

#Social-Media .box i a {
  text-decoration: none;
  margin-top: 40px;
  color: white;
}
#Social-Media {
  color: white;
  height: 120px;
}

.bg-primary1 {
  background: rgb(56, 122, 197);
  color: white;
}

.bg-primary2 {
  background: rgb(48, 210, 221);
  color: white;
}

.bg-primary3 {
  background: rgb(230, 37, 47);
  color: white;
}

.bg-primary4 {
  background: rgb(85, 157, 224);
  color: white;
}

.clr {
  clear: both;
}

#main-footer {
  text-align: center;
  background: url("/img/bc.jpg");
  background-size: cover;
  color: white;
  height: 70vh;
}

#main-footer .container {
  margin: auto;
  max-width: 1150px;
  overflow: auto;
}

.headfooter h3 {
  font-size: 1.9em;
  font-family: "Pacifico", cursive;
}

.bag {
  float: left;
  width: 250px;
  padding: 10px;
  text-align: center;
  height: 500px;
  margin-top: 20px;
  font-size: 1.5em;
}

.bag p,
.bag i {
  margin-top: 20px;
  font-size: 0.7em;
}

.closing p {
  border-bottom: 1px solid;
  font-size: 1.2em;
  color: white;
}
